.jokeItem {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.jokeType {
    text-transform: capitalize;
    font-size: small;
    padding-bottom: 10px;
}

.jokeSetup, .jokePunchline {
    display: block;
    font-size: large;
    padding-bottom: 10px;
}

.jokeSetup {
    font-weight: bold;
}

.btnShow {
    display: block;
    width: 20%;
    border-color: blue;
    color: blue;
    border-radius: 6px;
    border-width: thin;
    background-color: white;
    padding: 5px;
}

.hidden {
    visibility: hidden;
}

.active {
    visibility: visible;
}

.bookmark {
    font-size: xx-large;
    float: right;
    cursor: pointer;
}

.toggled {
    display: none;
}